$main-text-color: black;
$atome-orange-500: #FF5A34;

.main-text-field {
  .v-input__control {
    .v-input__slot {
      border: red;
    }
    .v-text-field__details {
      margin-bottom: 0px;
    }
  }
}

.card-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: $main-text-color;
}

.card-content {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $main-text-color;
}

.main-card-list {
  .v-list-item {
    min-height: 20px;
    padding: 0px;
  }
}

.main-card {
  .v-card__title {
    padding: 16px 16px 0px;
    .v-list-item {
      padding: 0px;
    }
  }
}

.expansion-panel-header {
  .icon {
    order: 0;
    color: $main-text-color;
  }
  .header {
    order: 1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $main-text-color;
  }
}

.header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: $main-text-color;
}

.login-card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: black;
}

.btn-primary {
  background: $atome-orange-500 !important;
  padding: 8px 22px !important;
}

.btn-outlined {
  padding: 8px 22px !important;
  background: white;
  color:  rgba(0, 0, 0, 0.6) !important;
}

.v-btn--plain:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover) .v-btn__content {
  opacity: 1 !important;
}

.btn-outlined:hover {
  color: white !important;
  border: 1px solid $atome-orange-500;
  .v-btn__content {
    color: $atome-orange-500 !important;
  }
}



.btn-secondary {
  background: rgba(0,0,0,0.6) !important;
}

